<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<!-- 它背后注册了很多用于解析注解的处理器,其中就包括<context:annotation-config/>配置的注解所使用的处理器 -->
	<!-- 所以配置了<context:component-scan base-package="">之后,便无需再配置<context:annotation-config> -->
	<context:component-scan base-package="com.schooldeal" />
	
	<!-- 启用SpringMVC的注解功能,它会自动注册HandlerMapping、HandlerAdapter、ExceptionResolver的相关实例 -->
	<mvc:annotation-driven />
	
    <!-- 加入Aspectj配置,使用cglib代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	
	<!-- 定时器 -->
<!-- 	<task:annotation-driven executor="executor" scheduler="scheduler" />  -->
<!-- 	<task:executor id="executor" pool-size="1" />  -->
<!-- 	<task:scheduler id="scheduler" pool-size="1" />  -->

	<!-- fastjson解析器 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<!-- 应答给浏览器(或者请求方)的Content-Type头信息 -->
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
						<value>text/html;charset=UTF-8</value>
					</list>
				</property>
				<property name="features">
					<array>
						<!-- 输出key时是否使用双引号 -->
						<value>QuoteFieldNames</value>
						<!-- 是否输出值为null的字段 -->
						<value>WriteMapNullValue</value>
						<!-- 字符类型字段如果为null,输出为"",而非null -->
						<value>WriteNullStringAsEmpty</value>
						<!-- 禁用FastJson循环引用检测 -->
						<value>DisableCircularReferenceDetect</value>
					</array>
				</property>
			</bean>
			<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
				<property name="prifix" value="/WEB-INF/views"></property>
				<property name="suffix" value=".jsp"></property>
			</bean>
			
		</mvc:message-converters>
	</mvc:annotation-driven>
</beans>
